* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  margin-top: 80px;
  padding: 20px;
}

.left-column,
.right-column {
  flex: 1;
}

.left-column {
  margin-right: 20px;
}

.code-editor {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

code {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
}

.description {
  margin-bottom: 10px;
}

#analyze-btn {
  background-color: #333333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  
  #analyze-btn:hover {
  background-color: #1A9FDB;
  }
  
  .right-column {
  padding-left: 20px;
  }
  
  .results {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  min-height: 200px;
  }
  
  .results h2 {
  margin-bottom: 10px;
  }
  
  .results ul {
  list-style-type: none;
  }
  
  .results li {
  margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
  main {
  flex-direction: column;
  }
  
  .left-column,
  .right-column {
  width: 100%;
  }
  
  .left-column {
  margin-right: 0;
  margin-bottom: 20px;
  }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .pulse {
    animation: pulse 1s ease-in-out infinite;
  }
  
  .row-el {
    grid-row: 1 / span 2
  }

  .grid-container {
    display: grid;

  }